#about_container {
  display: flex;
}

#about_container.page_contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "BMHannaPro";
}

.cafe_info_container {
  width: 100%;
  height: 500px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}

.cafe_img_box {
  width: 500px;
  height: 100%;
  font-size: 0;
  overflow: hidden;
}
.cafe_img_box img {
  width: 100%;
  height: 100%;
  transform: scale(1.5);
}

.cafe_info_text_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  text-align: right;
  font-size: 24px;
}

.day_off_text {
  color: #f00;
}

.map_container {
  margin-top: 100px;
}
.map_header {
  font-size: 20px;
  padding: 20px 0;
}
.map_contents {
  width: 100%;
  height: 500px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  overflow: hidden;
}
.map_contents > div {
  transform: scale(1.5);
}
