@font-face {
  font-family: "HoltWoodOneSC";
  src: url(../font/HoltwoodOneSC-Regular.ttf);
}
@font-face {
  font-family: "BMHannaPro";
  src: url(../font/BMHANNAPro.ttf);
}
:root {
  --red-color: #7d1919;
}

.btn_top {
  position: fixed;
  width: 50px;
  height: 50px;
  padding: 10px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  bottom: 5vh;
  right: 2vw;
  background: #222;
  color: #fff;
  cursor: pointer;
}
