#findId_container form {
  width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#findId_container form .input_container {
  width: 100%;
  height: 50px;
}
#findId_container input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: "BMHannaPro";
  font-size: 20px;
  border: none;
  background: var(--gray-color);
}
#findId_container #btn_find_id {
  height: 50px;
  border-radius: 8px;
  color: #fff;
  background: #333;
  cursor: pointer;
}

.input_container {
  width: 100%;
  position: relative;
}
.input_container span {
  content: "name";
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #777;
  transition: all 0.5s;
  pointer-events: none;
}
.input_container span.focus_input {
  font-size: 12px;
  top: -5px;
  left: 10px;
  transform: translateY(-100%);
}
