.page_header {
  border: none;
}
#join_container form {
  width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#join_container form .input_container {
  width: 100%;
  height: 50px;
}
#join_container form input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: "BMHannaPro";
  font-size: 20px;
  border: none;
  background: var(--gray-color);
}

#join_container form input::placeholder {
  font-family: "HoltWoodOneSC";
}
#join_container form input[type="password"] {
  font-family: sans-serif;
}

.input_container {
  width: 100%;
  position: relative;
}
.input_container span {
  content: "name";
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #777;
  transition: all 0.5s;
  pointer-events: none;
}
.input_container span.focus_input {
  font-size: 12px;
  top: -5px;
  left: 10px;
  transform: translateY(-100%);
}

#join_container #btn_join {
  height: 50px;
  border-radius: 8px;
  color: #fff;
  background: #333;
  cursor: pointer;
}

.user_pw_empty,
.user_pwChk_false,
.user_pwChk_true,
.input_empty {
  position: relative;
}
.user_pw_empty::after {
  content: "비밀번호를 먼저 입력해주세요.";
  position: absolute;
  transform: translateY(-100%);
  top: -5px;
  right: 0;
  font-family: "BMHannaPro";
  font-size: 10px;
  color: #f43b3b;
}
.user_pwChk_false::after {
  content: "비밀번호를 확인해주세요.";
  position: absolute;
  transform: translateY(-100%);
  top: -5px;
  right: 0;
  font-family: "BMHannaPro";
  font-size: 10px;
  color: #f43b3b;
}

.user_pwChk_true::after {
  content: "비밀번호가 일치합니다.";
  position: absolute;
  transform: translateY(-100%);
  top: -5px;
  right: 0;
  font-family: "BMHannaPro";
  font-size: 10px;
  color: #a4ff9a;
}

.input_empty::after {
  content: "입력란은 채워주세요!";
  position: absolute;
  transform: translateY(-100%);
  top: -5px;
  right: 0;
  font-family: "BMHannaPro";
  font-size: 10px;
  color: #f43b3b;
}
