.page_header {
  border-bottom: none;
}

#login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "BMHannaPro";
}

.input_btn_container {
  height: 150px;
  display: flex;
  gap: 20px;
}
.input_container_outer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.input_container {
  width: 330px;
  height: calc(50% - 10px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input_container input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: "BMHannaPro";
  font-size: 20px;
  border: none;
  background: var(--gray-color);
}
.input_container input[type="password"] {
  font-family: sans-serif;
}
.page_contents .btn_submit {
  width: 100px;
  border-radius: 12px;
  border: none;
  background: #333;
  color: #fff;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.btn_container {
  width: 450px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}
.login_page_btn {
  width: calc((100% - (20px * 2)) / 3);
  text-align: center;
  background-color: #333;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
}
.login_page_btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
