body {
  user-select: none;
  font-family: "HoltWoodOneSC";
}
a {
  color: inherit;
  text-decoration: none;
}
section {
  margin: 60px 0;
}
.inner_1200 {
  width: 1200px;
  margin: 0 auto;
  text-transform: uppercase;
  overflow: hidden;
}

.section_header {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.section_title {
  font-size: 20px;
}
.section_container {
  position: relative;
}

.btn_viewAdd {
  font-family: "BMHannaPro";
}
.btn_viewAdd:hover {
  color: #888;
}
.header {
  width: 100%;
  height: 64px;
  line-height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  box-sizing: border-box;
  background: #fff;
  font-size: 24px;
  position: relative;
}
.header_active {
  position: fixed;
  top: -64px;
  left: 0;
  z-index: 10000;
  animation: header_active 1s forwards;
}

@keyframes header_active {
  from {
    top: -64px;
  }
  to {
    top: 0;
  }
}

.logo {
  font-size: 1em;
  text-transform: uppercase;
}

.navbar_list {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}
.navbar_item {
  height: 100%;
  font-size: 0.6em;
  text-transform: uppercase;
  position: relative;
}
.navbar_item:last-child {
  font-size: 0.9em;
}
.navbar_item:hover {
  color: #555;
}
.detail_menu {
  width: 100%;
  line-height: 1;
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 100%;
  padding-bottom: 10px;
  opacity: 0;
  pointer-events: none;
}
.detail_menu_active {
  opacity: 1;
  pointer-events: all;
}
.detail_menu_item {
  padding: 10px 0;
  font-family: "BMHannaPro";
  color: #333;
}
.detail_menu_item:hover {
  color: #888;
}
.detail_menu_board {
  background: #fff;
  height: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.3s;
}

.container {
  padding-top: 0;
}

.video_section {
  width: 100%;
  height: 40.5vw;
  max-height: 1050px;
  margin: 0;
  background: #000;
}
.video_section iframe {
  width: 100%;
  height: 100%;
}

.simple_menu_section {
  margin: 50px 0;
}
.simple_menu_list {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.simple_menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.simple_menu_icon_box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #333;
  overflow: hidden;
}
.simple_menu_icon_box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.simple_menu_item:hover .simple_menu_icon_box {
  background: var(--red-color);
}
.simple_icon {
  font-size: 40px;
}
.simple_menu_item:nth-child(1) .simple_icon {
  transform: translateX(5%);
}
.simple_menu_item:nth-child(2) .simple_icon {
  transform: translateX(-5%);
}

.slogun_section {
  margin: 30px 0;
  font-size: 32px;
}
.slogun_top_txt {
  transform: translateX(-100%);
  transition: all 0.5s;
}
.slogun_bottom_txt {
  display: flex;
  justify-content: flex-end;
  transform: translateX(100%);
  transition: all 0.5s 0.5s;
}
.slogun_active {
  transform: translateX(0);
}

.coffee_beans_section {
  margin: 60px 0;
}
.coffee_beans_list {
  width: 100%;
  display: flex;
}
.coffee_beans_item {
  width: calc(100% / 3);
}
.coffee_beans_item img {
  width: 100%;
}

.menu_list {
  position: relative;
  width: 100%;
  height: 300px;
}

.menu_item {
  width: calc(100% / 4);
  height: 300px;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 1s;
}
.menu_item img {
  transition: all 0.5s;
  width: 100%;
  transform: scale(1.5);
}
.menu_item .menu_info {
  padding: 10px 0;
  border-radius: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  text-align: center;
  font-family: "BMHannaPro";
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: all 0.5s;
}
.menu_item:hover .menu_info {
  transform: translate(-50%, -10%);
  opacity: 1;
}
.slide_btn {
  width: 50px;
  height: 100%;
  line-height: calc(300px - (45px / 2));
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 0;
  font-size: 45px;
  color: #333;
  font-family: "BMHannaPro";
  cursor: pointer;
}
.slide_btn:hover {
  color: #888;
}
.btn_prev {
  left: 0;
}
.btn_next {
  right: 0;
}

.store_section {
}
.store_list {
  display: flex;
  justify-content: space-around;
}
.store_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 2);
  padding: 0 50px;

  font-family: "BMHannaPro";
}
.store_item_img_box {
  width: 60%;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  font-size: 0;
}
.store_item_img_box img {
  width: 100%;
}
.store_item_title {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer {
  background: #333;
}
.footer .inner_1200 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  height: 200px;
  font-family: "BMHannaPro";
}
.br_box {
  text-align: center;
  color: #fff;
}
