.page_contents {
  font-family: "BMHannaPro";
  font-size: 20px;
}
.my_order_list_container {
  width: 98%;
  margin: 0 auto;
  height: 500px;
  padding: 50px 50px;
  box-sizing: border-box;
  border-radius: 12px;
  background: #f9f9f9;
  box-shadow: 10px 10px 10px 0 #00000040;
}
.order_header_item,
.order_contents_item {
  width: 33%;
  text-align: center;
}
.my_order_list_header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 20px;
}
.my_order_list_contents_outer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.my_order_list_contents {
  display: flex;
  justify-content: space-between;
}
.order_list {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
